# Database settings (for docker-compose)
PGDATABASE="YOUR_PGDATABASE"
PGUSER="YOUR_PGUSER"
PGPASSWORD="YOUR_PGPASSWORD"

# Database urls
DATABASE_URL="YOUR_DATABASE_URL"
DIRECT_DATABASE_URL="YOUR_DIRECT_DATABASE_URL"

# Set this string to any one
JWT_SECRET="YOUR_JWT_SECRET"

# Root domain for your whole app. If backend is placed in subdomain
# "api.example.com", then root domain is .example.com
APP_HOST="YOUR_APP_HOST"
# Full url pointing to this app
APP_FULL_URL="YOUR_APP_FULL_URL"
# Full url pointing to frontend app
FRONT_END_HOST="YOUR_FRONT_END_HOST"

# dev | prod
ENV_MODE="YOUR_ENV_MODE"